services:
  urlshortener:
    image: daylak/urlshortener
    environment:
      - DB_HOST=db        # вместо localhost
      - DB_PORT=5432
      - DB_USER=admin
      - DB_PASSWORD=admin
      - DB_NAME=db
    
    networks:
      - default
    ports:
      - "8080:8080"

    depends_on:
      - db
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: db
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - default

networks:
  default:
    driver: bridge

volumes:
  db_data: