
services:
  ansible-master:
    build:
      context: .
      dockerfile: ./dockerfile.master
    container_name: ansible-master
    ports:
      - "4444:22"
    volumes:
      - ./ansible:/home/admin/ansible
      - ./app:/home/admin/app
    working_dir: /home/admin/ansible
    tty: true
    stdin_open: true

  app-server:
    build:
      context: .
      dockerfile: ./server/dockerfile
    container_name: app-server
    ports:
      - "8080:80"
      - "2222:22"
    tty: true
    stdin_open: true
  db:
    image: postgres
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: db
    networks:
      - internal_net