---

- name: Deploy url-shortener 
  hosts: app-server
  become: true
  vars:
    app_dir: /opt/go-app
  tasks:
    - name: Create app directory
      file:
        path: "{{ app_dir }}"
        state: directory
        owner: admin
        group: admin
        mode: '0755'

    - name: Copy application files
      copy:
        src: "{{ playbook_dir }}/../app"
        dest: "{{ app_dir }}/app"
        mode: '0755'

    - name: Set executable permissions
      file:
        path: "{{ app_dir }}/app"
        mode: '0755'
        
    - name: Run application
      shell: nohup {{ app_dir }}/app </dev/null >/dev/null 2>&1 &
      args:
        chdir: "{{ app_dir }}"

